:root {
    --mainBlue: #13183F;
    --mainBlueHover: #666CA3;
    --mainGray: #83869A;
    --mainDarkPink: #F74780;
    --mainLightPink: #FFA7C3;
    --white: #FFFFFF;
    --gradientPinkOrange: linear-gradient(rgb(240,42,166), rgb(255,111,72));
    --gradientPinkBlue: linear-gradient(rgb(72,81,255), rgb(240,42,166));
    --gradientGray: linear-gradient(0deg, #F0F1FF 0%, #FFFFFF 50%);
    --mainFont: 'Plus Jakarta Sans', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background: var(--gradientGray);
    background-repeat: no-repeat;
    font-size: 1.8rem;
    font-family: var(--mainFont);
}
.navbar {
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 3.9rem 0rem 3.9rem;
    margin: 0 auto;
}
.navbar-logo {
    width: 11.17rem;
    height: 2.768rem;
}
.navbar-get-started {
    font-size: 1.8rem;
    font-family: var(--mainFont);
    color: var(--white);
    background-color: var(--mainBlue);
    padding: 1.4rem 3.1rem;
    border: none;
    border-radius: 2.8rem;
    cursor: pointer;
}
.navbar-get-started:hover {
    background-color: var(--mainBlueHover);
}
.hero {
    width: 100%;
    max-width: 1110px;
    height: 757px;
    margin: 0 auto;
    padding: 0rem 3.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero picture {
    width: 100%;
    position: absolute;
    top: -146px;
}