:root {
    --mainBlue: #13183F;
    --mainBlueHover: #666CA3;
    --mainGray: #83869A;
    --mainDarkPink: #F74780;
    --mainLightPink: #FFA7C3;
    --white: #FFFFFF;
    --gradientPinkOrange: linear-gradient(rgb(240,42,166), rgb(255,111,72));
    --gradientPinkBlue: linear-gradient(rgb(72,81,255), rgb(240,42,166));
    --gradientGray: linear-gradient(0deg, #F0F1FF 0%, #FFFFFF 50%);
    --mainFont: 'Plus Jakarta Sans', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0 auto;
    background: var(--gradientGray);
    background-repeat: no-repeat;;
}